<header class='header'>
	<div class='container'>
		<div>VITE + TS + SCSS</div>
		<div class='menu'>
			<button id='menu-open__button' class='menu-open__button'>Open</button>
			<div id='menu__body' class='menu__body'>
				<button
					id='menu-close__button'
					class='menu-close__button'
				>Close</button>
				<nav class='nav'>
					<ul class='nav__list'>
						<li class='nav__item'>
							<a href='#'>Home</a>
						</li>
						<li class='nav__item'>
							<a href='#'>About</a>
						</li>
						<li class='nav__item'>
							<a href='#'>Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>